---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<img src="logo.svg" class="home__crest" alt="erie chaos soccer logo"/>
	<p class="tagline">Bring the Chaos!</p>
</Layout>
<style>
	img {
		height: 20rem;
	}

	.tagline {
		font-style: italic;
		font-size: 1.5rem;
		color: var(--color-accent-soft);
		align-self: center;
		margin: 0;
	}
</style>
