---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main>
		<img
			src="logo.svg"
			class="home__crest"
			alt="erie chaos soccer shield"
		/>
	</main>
</Layout>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		min-height: 100vh;
	}

	img {
		height: 20rem;
	}

</style>
