---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet"
		/>
		<title>Erie Chaos SC</title>
	</head>
	<body>
		<Nav />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
  }

/* 
	Light Blue Theme Colors:
	#87CEEB (Sky Blue)
	#4682B4 (Steel Blue)
	#1E90FF (Dodger Blue)
	#0066CC (Deep Blue)
*/
/* light blue color palette */

/* color */
/* --color-50: #f0f8ff;
--color-100: #e1f2ff;
--color-200: #c2e5ff;
--color-300: #a3d8ff;
--color-400: #84cbff;
--color-500: #65beff;
--color-600: #4682b4;
--color-700: #1e90ff;
--color-800: #0066cc;
--color-900: #004499; */

  :root {
		--color-bg: #fff /** */;
		--color-bg-005: #fff /** */;
		--color-bg-010: #fff /** */;
		--color-bg-015: #fff /** */;
		--color-bg-020: #fff /** */;

		--color-text-070: hsl(240, 30%, 70%);
		--color-text-080: hsl(240, 30%, 80%);
		--color-text-090: hsl(240, 30%, 90%);
		--color-text-100: hsl(240, 30%, 100%);

    --color-border-default: #7a9cc6;

		--color-bg-default: #010101;

		--color-accent-default: #87ceeb;
		--color-accent-soft: #87ceeb;
		--color-accent-strong: #4682b4;
  }

  html,
  body {
    margin: 0;
    padding: 0;
		min-height: 100vh;
		background-color: var(--color-bg-default);
		font-family: Roboto Condensed, sans serif;
  }

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

  main {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		max-width: 48rem;
  	min-width: 24rem;
		padding: 0 1rem;
		transition: padding 250ms;
		max-height: -webkit-fill-available;
    position: relative;
		gap: 1rem;
  }

	@media (min-width: 48rem) {
		main {
			padding: 0;
		}
	}
</style>
